# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Gluecksrad_Rumpf.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../../:\Users\danie\OneDrive\Documents\HS-Esslingen\Semester.2\Informatik2\repos\Hs-Esslingen\repos\07 Gluecksrad_Rumpf\07 Gluecksrad_Rumpf\.idea\.idea.Gluecksrad_Rumpf\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
