# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.WinFormund Event.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../../:\Users\danie\OneDrive\Documents\HS-Esslingen\Semester.2\Informatik2\repos\Hs-Esslingen\repos\05 WinFormund Event\05 WinFormund Event\.idea\.idea.WinFormund Event\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
