# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.SerialPortMultithreaded.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../../:\Users\danie\OneDrive\Documents\HS-Esslingen\Semester.2\Informatik2\repos\Hs-Esslingen\repos\14 SerialPortMultithreaded\14 SerialPortMultithreaded\.idea\.idea.SerialPortMultithreaded\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
