# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.SerialPortExceptionDetail.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\danie\OneDrive\Documents\HS-Esslingen\Semester.2\Informatik2\02 SerialPortExceptionDetail\02 SerialPortExceptionDetail\.idea\.idea.SerialPortExceptionDetail\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
